Name: Satyam Mishra
Reg: 21BCE8247

In [ ]:
##  Running with sample data set

In [2]:
import pandas as pd

In [3]:
## getting input from csv
data = pd.read_csv('database/data.csv')

In [4]:
# converting data to nested list
# we could use numpy also here
a = []
for i in range(0, 4):
    a.append(list(data.loc[i]))
a

[['Sunny', 'Warm', 'Normal', 'Strong', 'Warm', 'Same', 'Yes'],
 ['Sunny', 'Warm', 'High', 'Strong', 'Warm', 'Same', 'Yes'],
 ['Rainy', 'Cold', 'High', 'Strong', 'Warm', 'Change', 'No'],
 ['Sunny', 'Warm', 'High', 'Strong', 'Cool', 'Change', 'Yes']]

In [5]:
col_instance = 6
h = [0]*col_instance
h

[0, 0, 0, 0, 0, 0]

In [6]:
# find S algo

for j in range(0, 4):
    if (a[j][-1] == 'Yes'):
        for i in range(0, col_instance):
            if (h[i] == 0):
                h[i] = a[j][i]
            elif(h[i] == a[j][i]):
                pass
                print(h)
            else:
                h[i] = '?'
                print(h)

['Sunny', 'Warm', 'Normal', 'Strong', 'Warm', 'Same']
['Sunny', 'Warm', 'Normal', 'Strong', 'Warm', 'Same']
['Sunny', 'Warm', '?', 'Strong', 'Warm', 'Same']
['Sunny', 'Warm', '?', 'Strong', 'Warm', 'Same']
['Sunny', 'Warm', '?', 'Strong', 'Warm', 'Same']
['Sunny', 'Warm', '?', 'Strong', 'Warm', 'Same']
['Sunny', 'Warm', '?', 'Strong', 'Warm', 'Same']
['Sunny', 'Warm', '?', 'Strong', 'Warm', 'Same']
['Sunny', 'Warm', '?', 'Strong', 'Warm', 'Same']
['Sunny', 'Warm', '?', 'Strong', 'Warm', 'Same']
['Sunny', 'Warm', '?', 'Strong', '?', 'Same']
['Sunny', 'Warm', '?', 'Strong', '?', '?']

In [7]:
## dataset with good numbers of entitys and features

In [8]:
data2 = pd.read_csv('database/data2.csv')

# extracting required data from dataset
data2 = data2.loc[:,['Hulu','Netflix','Prime Video','Disney+','Type']]
data2

    Hulu  Netflix  Prime Video  Disney+  Type
0      0        1            0        0     1
1      0        1            0        0     1
2      1        1            0        0     1
3      0        1            0        0     1
4      0        1            0        0     1
5      0        1            1        0     1
6      0        1            0        0     1
7      0        1            0        0     1
8      0        1            0        0     1
9      0        1            0        0     1
10     0        1            0        0     1

In [9]:
b = []
for i in range(0, len(data2)):
    b.append(list(data2.loc[i]))

b

[[0, 1, 0, 0, 1],
 [0, 1, 0, 0, 1],
 [1, 1, 0, 0, 1],
 [0, 1, 0, 0, 1],
 [0, 1, 0, 0, 1],
 [0, 1, 1, 0, 1],
 [0, 1, 0, 0, 1],
 [0, 1, 0, 0, 1],
 [0, 1, 0, 0, 1],
 [0, 1, 0, 0, 1],
 [0, 1, 0, 0, 1]]

In [10]:
col_instance = 4
h_lis = [0]*col_instance
h_lis

[0, 0, 0, 0]

In [11]:
# find S algo

for j in range(0, len(data2)):
    if (b[j][-1] == 1):
        for i in range(0, col_instance):
            if (h_lis[i] == 0):
                h_lis[i] = b[j][i]
            elif(h_lis[i] == b[j][i]):
                pass
                print(h_lis)
            else:
                h_lis[i] = '?'
                print(h_lis)

[0, 1, 0, 0]
[1, 1, 0, 0]
['?', 1, 0, 0]
['?', 1, 0, 0]
['?', 1, 0, 0]
['?', 1, 0, 0]
['?', 1, 0, 0]
['?', 1, 0, 0]
['?', 1, 1, 0]
['?', 1, 1, 0]
['?', 1, '?', 0]
['?', 1, '?', 0]
['?', 1, '?', 0]
['?', 1, '?', 0]
['?', 1, '?', 0]
['?', 1, '?', 0]
['?', 1, '?', 0]
['?', 1, '?', 0]
['?', 1, '?', 0]
['?', 1, '?', 0]
['?', 1, '?', 0]
['?', 1, '?', 0]
['?', 1, '?', 0]