In [2]:
import pandas as pd
df = pd.read_csv('database/data.csv')
df

     Sky  AirTemp  Humidity    Wind  Water  Forecast  EnjoySport
0  Sunny     Warm    Normal  Strong   Warm      Same         Yes
1  Sunny     Warm      High  Strong   Warm      Same         Yes
2  Rainy     Cold      High  Strong   Warm    Change          No
3  Sunny     Warm      High  Strong   Cool    Change         Yes